img {
    width: 100%;
}

.topAdvert, .bigBlocks, .horizAd, .smallBlocks, .vertAd {
  padding-top:15px;
}

.vertAdvert {
    padding-left: 0px;
}

.mostRead {
    padding-top: 30px;
}

footer {
    padding-top: 30px;
}

.row {
    border: solid 1px red;
}

