body {
    padding-top: 46px;
}

.overview {
    display: flex;
    padding-top: 2px;
}

.navbar-toggler {
    padding:0px 0px 0px 0px!important;
}

.navbar {
    padding: 8px 13px!important;
}

.block-intro {
    background-color: rgb(3, 155, 229);
    padding: 0px 15px 0px 15px;
    color: white;
    padding-bottom: 10vh;
    background-image: url(pictures/back.png);
    box-shadow: inset -20px 0px 100px #039be5;
    /* background-size: 130%;
    background-position: -20% 40%; */
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Montserrat', sans-serif!important;
    font-weight: bolder!important;
}

.icon-block {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    border-radius: 50%;
    border: solid 3px white;
    background-color: rgb(3, 155, 229);
    /* flex-grow: 1; */
    height: 100px;
    width: 100px;
}

.icon-desc {
    display: flex;
    justify-content: space-between;
}

.desc {
    padding-top: 10px;
    text-align: center;
    max-width: 100px;
    font-size: 10px;
}

.welcome {
    font-size: 25px;
}

.card {
    /* padding-top: 20px; */
    border-radius: 0%!important;
    border: 0px!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.card-image-top {
    border-radius: 0%!important;
}

.content {
    padding: 0px 15px 0px 15px;
    background-color: rgb(207, 216, 220);
    font-family: 'Roboto', sans-serif;
}

.discover {
    padding: 15px 0px 0px 0px;
}

.underline {
    text-decoration: underline!important;
}

/* Small devices (portrait phones, less than 768px) */
@media only screen and (max-width: 767px) {
    .block-intro {
    /* height: calc(100vh - 60px - 13vh); */
    background-size: 167%;
    background-position: 4% 29%;
    }

    .container-intro {
        position: relative;
        top: 4em;
        left: -.5em;
    }

    .card {
        min-height: 25vh;
    }
} 

/* Medium devices (tablets, from 768px up to 992px) */
@media only screen 
and (min-width: 768px)
and (max-width: 992px) {
    .block-intro {
    background-size: 85%;
    background-position: 290% 40%;
    }

    .contain-intro {
        position: relative;
        top: 0.5em;
        right: -5em;
        max-width: 500px;
        /* padding-left: 70px;
        padding-top: 40px; */
    }

    .card {
        min-height: 29vh;
    }

    .content {
        padding: 0px 100px;
    }

    .offers, .discover {
        position: relative;
        top: -70px;
    }

    .discover {
        color: white;
        padding-bottom: 10px;
    }

   
}

/* Medium devices (tablets, from 768px up to 992px) */
@media only screen 
and (min-width: 992px)
/* and (max-width: 992px) */ { 
    .block-intro {
    background-size: 68%;
    background-position: 117% 40%;
    min-height: 100vh;
    }

    .contain-intro {
        position: relative;
        top: 6em;
        right: -5em;
        max-width: 50%;
        /* padding-left: 70px;
        padding-top: 40px; */
    }

    .card {
        min-height: 29vh;
    }

    .content {
        padding: 0px 100px;
    }

    .offers, .discover {
        position: relative;
        top: -17vh;
    }

    .discover {
        color: white;
        padding-bottom: 10px;
    }
    
    body {
        padding-top: 56px;
    }

    .icon {
        font-size: 4em;
        height: 150px;
        width: 150px;
        border: 4px solid white;
    }

    .desc {
        font-size: 1em;
        text-align: center;
        min-width: 150px;
        padding-bottom: 10vh;
    }

    .discover {
        font-size: 1.3em;
    }

    .start {
        font-size: 5.5em;
    }

    .welcome {
        font-size: 2.5em;
    }
   
}

